h1{
    font-family: "Lucida handwriting", cursive;
    font-size: 30px;
    border: 10px solid rgb(252, 177, 92);
    padding: 15px;
    border-image: url(https://www.w3schools.com/css/border.png) 30 round;
   
   }
   h2, H2 {
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: rgb(252, 177, 92);
    
   }
   
   body { 
    text-align: justify;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 226, 186);
    margin: auto;
    width: 40%;
    border: 10px solid rgb(252, 177, 92);
    padding: 15px;
    border-image: url(https://www.w3schools.com/css/border.png) 30 round;
    
   }
   img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
   }
  